.ingredient-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 8px;
    margin-bottom: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
    box-sizing: border-box;
    margin-left: 5px;
    margin-top: 5px;
    height: 35px;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis; 
  }
  
 
  .delete-button {
    cursor: pointer;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    margin-left: 10px;
    width: 28px;
    margin-top: 1px;
  }

  .ingredient-container {
    display: flex;
    align-items: center;
  }

  .ingredient-input{
    margin-bottom: 20px;
  }
  